# Mac Systemdateien
.DS_Store

# Node / Frontend
node_modules/
.svelte-kit/
dist/

# Datenbanken & Logs in allen Ordnern ignorieren
**/kanban.db
**/kanban.db-shm
**/kanban.db-wal
*.db
*.sqlite
*.sqlite3
*.log

# .NET / Backend
.vs/
bin/
obj/
*/*/bin/
*/*/obj/
*.user